doctype
html(lang = en)
	
		head
			meta(charset = utf-8)
			meta(http-equiv = "X-UA-Compatible" content = "IE-edge")
			meta(name = "viewport" content = "width=device-width, initial-scale = 1")
			title  hello
			link(href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet")
			script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
			script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
			script(src="/Users/ankita/workspace/design/design/design/css/home.css")
			link(href = "/stylesheets/home.css" rel = "stylesheet" type="text/css")
			
		body
			nav.navbar.navbar-default.navbar-static-top(background = "/images/b.jpg")
				.container-fluid
					.raw.centered-form
						.col-sm-3
							
						.col-sm-6
							.navbar-header
								button.navbar-toggle(type = "button " data-toggle = "collapse" data-target = "#mainNavBar")
									span.icon-bar
									span.icon-bar
									span.icon-bar
								
								table
									tr
										td
											a(href = "/")
												img(src = "/images/logo1.jpg")
										td
											input.form-control(type = "text" name = "search" placeholder = "Search")
										td
											button.btn(type = "submit" value = "search") Go 
												i.gliphicon.glyphicon-user


											
								
							div.collapse.navbar-collapse(id = "mainNavBar")
								ul.nav.navbar-nav
									a.btn(href = "/") Home
									a.btn(href = "#") Notification
									
									.dropdown
										button.btn.dropdown-toggle(type = "button" data-toggle="dropdown") Profile
											span.caret
										.dropdown-menu
											a.h5.input-sm(href = "/") Create Page
											br
											a.h5.input-sm(href = "#") Create Group
											br
											a.h5.input-sm(href = "#") Your Groups
											br
											a.h5.input-sm(href = "#") Activity Log
											br
											a.h5.input-sm(href = "#") News Feed
											br
											a.h5.input-sm(href = "#") Settings
											br
											a.h5.input-sm(href = "/logout") Logout
											
												
																					
			.container-fluid
				.raw.centered-form
					.col-sm-3
					.col-sm-1
						h4 WelCome, #{result[0].first_name}
						.dropdown
							button.btn.dropdown-toggle(type = "button" data-toggle="dropdown")
								img(src = "/images/profile.jpg")
							.dropdown-menu
								form(method = "post" action = "/uploads" enctype ="multipart/form-data")
									input(type ="file" name = "myimage")
									input(type ="submit" name="submit" value="upload")
						img(src="/uploads/.jpg")
						br
						a.h5(href = "#") News Feed
						br
						a.h5(href = "#") Messengar
						br
						a.h5(href = "#") Events
						br
						a.h5(href = "#") pages
						br
						a.h5(href = "#") Friends lists
						br
						a.h5(href = "#") Groups
					
						

					form(action = "/dashboard" method = "post")
						.container-fluid
							.raw.centered-form
								.col-sm-3
									
									textarea(row = 10 name = "textarea" placeholder = "what's in your mind?")


									.col-sm-3
									
									
										button.btn(type = "submit" value = "share") Share
										//h5 #{user}

										if data
											each row in data
												h4 #{row.user}

												h5 #{row.textarea}

					//.col-sm-7
					//.col-sm-1
						form(action = "/logout" method = "post")
							button.btn(type = "submit" value = "logout") Logout
							
					
							
						
						
						


					
						
					

							
								
								
						