doctype
html(lang = en)
	
		head
			//meta(charset = utf-8)
			//meta(http-equiv = "X-UA-Compatible" content = "IE-edge")
			//meta(name = "viewport" content = "width=device-width, initial-scale = 1")
			title  hello
			//link(href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet")
			//script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
			//script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
			//script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
			//script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
			//script(src="/Users/ankita/workspace/design/design/design/css/home.css")
			link(href = "/stylesheets/home.css" rel = "stylesheet" type="text/css")
			

		body
			nav.navbar.navbar-default(background = "/images/b.jpg")
				.container-fluid
					.raw.centered-form
						.col-sm-3
							
						.col-sm-6
							.navbar-header
								button.navbar-toggle(type = "button " data-toggle = "collapse" data-target = "#mainNavBar")
									span.icon-bar
									span.icon-bar
									span.icon-bar

								h1 connect
							div.collapse.navbar-collapse(id = "mainNavBar")
								ul.nav.navbar-nav
									
									
			.container-fluid
				.raw.centered-form
					.col-sm-3
					.col-sm-2
						h4 Connect helps you connect and share with the people in your life. #{result[0].first_name}
						
						form(action = "/logout" method = "post")
							button.btn.btn-block(type = "submit" value = "logout") Logout
			
			
							